################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EntityFramework_CURD/v15/Server/sqlite3
